/* Define var for root element */

:root {
  /* footer root  colors*/
  --footer-btn-color: rgb(248, 249, 250);
  --footer-btn-bg-color: rgb(220, 47, 2);
  --footer-btn-hover-color: rgb(55, 6, 23);
  --footer-bg-color: black;
  --footer-text-color: rgb(173, 181, 189);
  /* Navigation bar + text - colors*/
}
body {
  margin: 0%;
  padding: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  margin: 0 auto;
}

/* header 
===================
======================= */

header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1em;
}
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.ul-header {
  display: flex;
  flex-wrap: wrap;
}
.li-header {
  list-style-type: none;
}
.a-nav {
  font-family: 'Amatic SC', cursive;
  color: white;
  text-decoration: none;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.8s ease;
}
.a-nav:hover{
  cursor: pointer;
  transition: all 0.8s ease;
  color: rgb(157, 2, 8);
}
.logo {
  align-items: center;
  width: 100px;
  height: 120px;
}
@media (min-width: 60rem) {
  .logo {
    float: left;
  }
}
/* home-hero +paragraph ==============
==================*/
.home-hero {
  background-image: url(images/dolomites5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 25em 0;
  box-shadow: 0 0 10px 5px;
}
/*Lines ===================*/
.lines{ 
  display: flex;
  justify-content: center;
  width: 1563px;
  height:1px;
  background: #fff;
}

/* Middle sections starts here =================
====================================*/

.middle-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.middle-title {
  color: rgb(230, 222, 222);
  font-family: sans-serif;
  font-size: 50px;
}
.travel-guides-title{ 
  color: rgb(177, 170, 170);
  font-family: sans-serif;
  font-size: 50px;
}
.blocks {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 20px;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #45494b 0%, #777c81 74%);
  width: 366px;
  height: 688px;
  box-shadow: 0 0 10px 5px;
  border-radius: 16px;
}
.blocks:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}
.p-blocks {
  font-family: sans-serif;
  font-size: 18px;
  margin: 8px;
}
.h1-title {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 50px;
  margin: 15px;
  color: rgb(184, 172, 172);
}
.a-blocks-readmore {
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(184, 172, 172);
  font-size: 25px;
  margin: 40px;
}
.a-blocks-readmore:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}
/* block-images =========================
=========================== */

.image1 {
  background-image: url(images/Lithuania.jpg);
  background-size: cover;
  background-color: aliceblue;
  opacity: 70%;
  width: 366px;
  height: 688px;
  border-radius: 16px 16px 0px 0px;
}
.image2 {
  background-image: url(images/romania.jpg);
  background-size: cover;
  background-color: aliceblue;
  opacity: 70%;
  width: 366px;
  height: 688px;
  border-radius: 16px 16px 0px 0px;
}
.image3 {
  background-image: url(images/norway.jpg);
  background-size: cover;
  background-color: aliceblue;
  opacity: 70%;
  width: 366px;
  height: 688px;
  border-radius: 16px 16px 0px 0px;
}
.image4 {
  background-image: url(images/Hungary.jpg);
  background-size: cover;
  background-color: aliceblue;
  opacity: 70%;
  width: 366px;
  height: 688px;
  border-radius: 16px 16px 0px 0px;
}
.image5 {
  background-image: url(images/Lithuania.jpg);
  background-size: cover;
  background-color: aliceblue;
  opacity: 70%;
  width: 366px;
  height: 688px;
  border-radius: 16px 16px 0px 0px;
}
.image6 {
  background-image: url(images/romania.jpg);
  background-size: cover;
  background-color: aliceblue;
  opacity: 70%;
  width: 366px;
  height: 688px;
  border-radius: 16px 16px 0px 0px;
}
.image7 {
  background-image: url(images/norway.jpg);
  background-size: cover;
  background-color: aliceblue;
  opacity: 70%;
  width: 366px;
  height: 688px;
  border-radius: 16px 16px 0px 0px;
}
.image8 {
  background-image: url(images/Hungary.jpg);
  background-size: cover;
  background-color: aliceblue;
  opacity: 70%;
  width: 366px;
  height: 688px;
  border-radius: 16px 16px 0px 0px;
}

/*Camping Spots========================
=====================*/
.middle-section-camping{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.camping-spots-title{
  font-family: sans-serif;
  font-size: 60px;
  color: white;
}
.camping-spots-p-div{
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  width: 1564px;
  height:437px;
}
.camping-spots-p{
  flex-shrink: 3;
  font-family: sans-serif;
  font-size: 22px;
  color: white;
  margin: 10px;
  padding: 10px;
}
/* UL-block middle section ( Mammutas Specifications  ) ===========================*/
.van-picture {
  width: 40%;
  height: 90%;
  opacity: 80%;
}
#ulList {
  margin: 30px;
  display: none;
}
.spec {
  font-family: sans-serif;
  color: white;
  padding: 20px;
  margin: 10px;
  background-color: rgb(220, 47, 2);
  border: none;
  text-transform: uppercase;
  font-size: large;
}
.spec:hover {
  color: rgb(55, 6, 23);
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}
.ul-lists {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.ul-block {
  display: flex;
  justify-content: center;
}

li {
  font-family: sans-serif;
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  color: gray;
  text-transform: uppercase;
}
h1 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  color: gray;
}

.block1 {
  display: block;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  padding: 50px;
}
/* Footer section starts here  + 3 blocks============================
=================================*/
.footer-wrap {
  background-color: var(--footer-bg-color);
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: space-between;
  margin-top: auto;
}
.block-footer {
  margin: 20px;
  width: 500px;
  height: 600px;
}

/* Middle block 
================
================*/

#title-block-footer {
  font-family: sans-serif;
  text-transform: uppercase;
  color: var(--footer-text-color);
}
#title-block-footer2 {
  font-family: sans-serif;
  font-size: 15px;
  color: var(--footer-text-color);
}
#email-input {
  display: inline;
  height: 57px;
  width: 250px;
  font-family: sans-serif;
  font-size: 20px;
  border-style: none;
}
#submit-button {
  display: inline;
  height: 58px;
  width: 100px;
  font-family: sans-serif;
  font-weight: bold;
  color: var(--footer-btn-color);
  text-transform: uppercase;
  border-style: none;
  background-color: var(--footer-btn-bg-color);
  cursor: pointer;
  margin-top: 15px;
}
#submit-button:hover {
  color: var(--footer-btn-hover-color);
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}
#title-block-footer3 {
  font-family: sans-serif;
  color: var(--footer-text-color);
  text-transform: uppercase;
  font-size: 30px;
}
/* Left block 
=====================
======================*/
#support-title {
  font-family: sans-serif;
  text-transform: uppercase;
  color: var(--footer-text-color);
}
#support-button {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  font-family: sans-serif;
  color: var(--footer-btn-color);
  padding: 12px;
  background-color: var(--footer-btn-bg-color);
}
#support-img {
  background-image: url(images/vw-exterior1.jpg);
  height: 400px;
  margin-bottom: 40px;
  background-size: cover;
  background-position: center;
}
#support-button:hover {
  color: var(--footer-btn-hover-color);
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}
/* Right block
=====================
======================*/
.logo-footer {
  background-image: url(images/logo.png);
  opacity: 10%;
  height: 400px;
  margin-top: 70px;
  background-size: cover;
  background-position: center;
}
/* footer icons =============
=================*/
.fa-facebook-square {
  font-size: 50px;
}
.fa-facebook-square:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 1s ease;
}
.fa-instagram {
  font-size: 50px;
}
.fa-instagram:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 1s ease;
}
.fa-youtube {
  font-size: 50px;
}
.fa-youtube:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 1s ease;
}
.fab {
  margin: 10px;
}
.a-footer {
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.8s ease;
}
